body{
    background-color: #2A1660;

}

.up{
    display: none;
}
#game-canvas{
    box-shadow: 0 0 50px rgb(68, 171, 255);
    align-self: center;
}
.game{
   display: flex;
   justify-content: center;
   margin: auto;
   background-image: url("img/formas-neon-sobre-fondo-oscuro_23-2148423875.png");
   background-size:cover ;
   margin: 15px 0px;
   padding: 15px 0px;
    
}
.aside{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 600px;
    box-sizing: border-box;
    width: 20%;
    border: 8px solid black;
   font-family: 'Monda', sans-serif;;
}

.aside img{
    width: 75%;
    margin-top: 10px;
}
.wasd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wasd img{
    width: 50%;
}
.wasd p{
    color: white;
    margin-top: -20px;
}
.aside h2{
    color: white;
    box-shadow: 0 0 50px rgb(68, 171, 255);
}
.score{
    font-size: 20px;
}
.boton{
    display: none;
}
.sco{
    display: none;
}


@media (max-width: 768px) {
    
.aside{
    display: none;
}
.up img{
    width: 150px;
    margin: auto;
}
.up{
    display: flex;
    justify-content: center;
}
.sco{
    display: block;
}
.sco h2{
    color: white;
    box-shadow: 0 0 50px rgb(68, 171, 255);
    font-family: 'Monda', sans-serif;;
}
}
.butons{
    display: flex;
    width: 87%;
    justify-content: space-between;
    position: absolute;
    top: 500px;
    margin: 0px 15px;
}
.butons1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 200px;
}
.butons2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.boton{
    display: block;
    padding: 20px;
    font-weight: 900;
    background-color: rgb(75, 75, 75, 0.5);
    color: white;
    border-radius:25px ;
}
@media (min-width: 769px){
    .boton{
        display: none;
    }
}